
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Search", "Catalog", "Book", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Sort", "Sort", "Book", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
</div>